<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MFC</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aeadf3">  <td>16/08/03 20:02:54</td>   <td>0</td> <td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:Com.IBB.Scenario1.Sellar@26b8320f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1571286415</td>   <td></td> </tr>
<tr bgcolor="aeadf3">  <td>16/08/03 19:59:20</td>   <td>-214183</td> <td title="&gt;&gt;TestBase.beforeTest()[pri:0, instance:Com.IBB.Scenario1.Sellar@26b8320f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1571286415</td>   <td></td> </tr>
<tr bgcolor="fb8197">  <td>16/08/03 19:59:52</td>   <td>-181577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sellar.verifySellerDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Com.IBB.Scenario1.Sellar@26b8320f]">verifySellerDetails</td> 
  <td>main@1571286415</td>   <td></td> </tr>
<tr bgcolor="fb8197">  <td>16/08/03 20:01:18</td>   <td>-96316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sellar.verifySellerDetailsCheckAgain(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Com.IBB.Scenario1.Sellar@26b8320f]">verifySellerDetailsCheckAgain</td> 
  <td>main@1571286415</td>   <td></td> </tr>
</table>
