<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Com.IBB.CallCenterAddLead.AddLead</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stockToolButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionvincheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEditStock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionpricecheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dealeroffLoadStockSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateResidualMandetoryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionwindowsticker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAddStockMandetaryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEmailID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAddLeadForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dealerOffloadVehicles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateMandetoryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateMobileNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionresidual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionviewdemand</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateDealerAddStock</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
