<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Com.IBB.PositiveScenario.Integration</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stockToolButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCarValuationSellDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEditStock</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dealeroffLoadStockSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCarForSale</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRateYourExpUserLogedIn4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySellerDetailsCheckAgain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionwindowsticker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyAddStockMandetaryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAddLeadForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmailReport</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCarForSaleUserLoggedIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyCheckExchangeCarPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySellerDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionresidual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateResudialDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyEmailReport1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateCallCenterDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionvincheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCarValuationbuyDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRateYourExpUserLogedIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateOtherLead</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCarRoadPrice1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyScenario3RateYourExpUserNotLogIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionpricecheck</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateResidualMandetoryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRateYourExpUserNotLogIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBuyerRateYourExpUserLogedIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBuyerDetailsCheckAgain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateOtherLeadseller</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateEmailID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateOtherLeadBuyer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dealerOffloadVehicles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyBuyerDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyCarRoadPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateRateAExpLogIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateMandetoryMsg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateMobileNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DealerToolsectionviewdemand</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateLeadGenUserLoggedIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateDealerAddStock</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
