<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>IBB</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77849d">  <td>16/09/12 11:36:38</td>   <td>0</td> <td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:Com.IBB.PositiveScenario.Integration@32039440]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1252042796</td>   <td></td> </tr>
<tr bgcolor="77849d">  <td>16/09/12 11:35:24</td>   <td>-74663</td> <td title="&gt;&gt;TestBase.beforeTest()[pri:0, instance:Com.IBB.PositiveScenario.Integration@32039440]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1252042796</td>   <td></td> </tr>
<tr bgcolor="bfd8a9">  <td>16/09/12 11:35:50</td>   <td>-48500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Integration.verifySellerDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Com.IBB.PositiveScenario.Integration@32039440]">verifySellerDetails</td> 
  <td>main@1252042796</td>   <td></td> </tr>
</table>
